<!--
  Generated template for the TransferPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transfer</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <h1>Shipment Details</h1>
      <form>
        <ion-list>
          <ion-item>
            <ion-label color="primary" floating>Shipment</ion-label>
            <ion-input type="text" [(ngModel)]="shipmentId" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item>
            <button type="submit" item-end ion-button secondary outline (click)=onButtonClick() icon-start [disabled]="!shipmentId">
              <ion-icon name="share-alt"></ion-icon>
              Check Transfer Status
            </button>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="shipmentData">
    <ion-card-header color="primary">
      <h1>{{shipmentData.shipmentId}}</h1>
    </ion-card-header>
    <ion-card-content text-center>
      <span ion-button outline color="secondary" small>{{shipmentData.status}}</span>
      <br>
      <form *ngIf="myID && isReleasePossible()">
        <ion-item>
          <ion-label color="primary" floating>New Shipper</ion-label>
          <ion-input type="text" [(ngModel)]="new_shipper" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button type="submit" round outline (click)=releaseShipment()>Release Shipment</button>
        </ion-item>
      </form>
      <form *ngIf="myID && isOvertakePossible()">
          <ion-item>
            <ion-label color="primary" floating>Old Shipper</ion-label>
            <ion-input type="text" [(ngModel)]="old_shipper" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
          <ion-item>
            <button ion-button type="submit" round outline (click)=overtakeShipment()>Overtake Shipment</button>
          </ion-item>
        </form>
    </ion-card-content>
  </ion-card>
</ion-content>